/* will display for every header */
header{
    display: flex;
}
.logo{
    height: 8em;
}
body{
    background-color: blanchedalmond;
}

.content{
    display: flex;   
}
.fishList{
    border: 1px solid cornflowerblue;
    padding: 10px;
}

.fish_card{
    margin: 15px;
}

.quotes{
    border: 1px solid green;
}

.quote{   
    padding: 7px;
    /* margin: 10px; */
}
.locations{
    border: 1px solid goldenrod;
}
.locationList{
    margin-left: 1em;
    margin-top: 1em;

}
.tankTips{
    border: 1px solid yellowgreen;
    margin-bottom: 1em;
    /* border-top: 3px solid #000; */
    padding: 0.5em 0 0 0.5em;
}
.container{
    border: 1px dotted lavender;
}
.container--left{
    flex: 3;
    margin-right: 25px;
    display: flex;
    flex-direction: column;  
}

.container--left article{
    margin-bottom: 25px;
}

.container--right{
    flex:1;
}
.fish__image{
    height: 8em;
    width: 8em;
}

.location__image{
    height: 8em;
    width: 8em;
}

